_webhook_payload/*
# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# docker
docker-compose.override.yml

# OS
.DS_Store

# IDE
.vscode/
.idea/

# coverage
coverage/
vps_*.md

vps_deploy_guide.md
*.html

deploy/*.env
backup
